@model CarRental.Entities.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteManager</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Менеджер</h4>
    <hr />
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>        
    </dl>    
    <form asp-action="DeleteManager" method="post">
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        @Html.ActionLink("К списку менеджеров", "GetAllManagers", new { area = "Admin", controller = "Admin" }, new { @class = "btn btn-outline-info" })
    </form>
</div>
</body>
</html>
